/** @format */
:root {
  --color-primary: hsl(212, 27%, 10%);
  --color-text: rgb(255, 255, 255);
  --color-neutral: rgb(246, 246, 246);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-size: 1.8rem;
  background: rgb(10, 10, 11);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  width: 90%;
}

.heading {
  width: 100%;
  padding: 0.8rem;
  font-size: 3rem;
  color: var(--color-neutral);
}

.main--head {
  display: flex;
  justify-content: space-between;
}

.mode {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.inputs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  margin: 2rem;
  margin-top: 0;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  background-color: var(--color-primary);
}

#input__text {
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  color: var(--color-text);
  font-size: 1.3rem;
  overflow: auto;
  font-weight: 500;

  overflow-wrap: break-word;
  width: 100%;
}

#input__text::placeholder {
  color: var(--color-text);
  font-size: 1.2rem;
}

.add {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 0.5s all;
  user-select: none;
}

.add span {
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: var(--color-text);
  margin-bottom: 0.5rem;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  transform-origin: 0 0;
}

.add span:nth-child(1) {
  transform: translate(11px, -2px) rotate(90deg);
}

.add:active {
  transform: translateY(-3px);
}

@media screen and (min-width: 768px) {
  body {
    align-items: center;
  }
  .todo {
    width: 50%;
    max-width: 50%;
  }
}

/* Lists */
.main {
  width: 100%;
}

.main .heading {
  font-size: 2rem;
}

.tasks .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lists {
  text-decoration: none;
  list-style: none;
  background-color: var(--color-primary);
  padding: 0;
  border-radius: 5px;
}

.list {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #272835;
  transition: transform 1s;
  cursor: pointer;
  z-index: -1;
  border-radius: 5px;
}

.date {
  font-size: 0.8rem;
  align-self: flex-end;
}
.list:last-of-type {
  border-bottom: none;
}

.list:hover {
  border-radius: 5px;
  background-color: hsl(218, 24%, 9%);
}

.list > p {
  color: var(--color-text);
  font-size: 1.3rem;
  overflow: auto;
  font-weight: 500;
  padding-left: 1.5rem;
  overflow-wrap: break-word;
}

.input__check {
  display: none;
  cursor: pointer;
}

.custom-checkbox {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 1.5px solid var(--color-text);
}

.input__check:hover + .custom-checkbox {
  background-color: var(--color-text);
}

.list.completed:hover {
  background-color: transparent;
  cursor: auto;
}
.list.completed p {
  text-decoration: line-through;
  color: #6a6a6a;
  -webkit-user-select: none;
  user-select: none;
}

.list.completed .custom-checkbox:hover {
  border-color: #6a6a6a;
  background-color: #6a6a6a;
}

.list.completed .custom-checkbox {
  border-color: #bebdbd;
}

.hidden {
  display: none;
}

.all__selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectors {
  display: flex;
  margin: 1rem;
  flex-direction: row;
  justify-content: flex-end;
}
.selector {
  margin: 0.5rem;
  border: none;
  background-color: transparent;
  color: var(--color-neutral);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  padding: 0;
}

.selector:hover {
  color: var(--color-text);
}

.selector.active {
  color: rosybrown;
}

.clear {
  margin: 0.5rem;
  border: none;
  background-color: transparent;
  color: var(--color-neutral);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}

.clear:hover {
  color: var(--color-text);
}

.items__left {
  margin: 0.5rem;
  color: var(--color-neutral);
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(220, 24%, 17%);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  color: #555;
}

/* lIGHT mODE */
body.lightmode .inputs,
body.lightmode .lists {
  background-color: rgb(152, 152, 152);
}

body.lightmode {
  background: rgb(255, 255, 255);
}

body.lightmode .input__check:hover + .custom-checkbox,
body.lightmode .add span {
  background-color: var(--color-primary);
}
body.lightmode .heading,
body.lightmode #input__text,
body.lightmode #input__text::placeholder,
body.lightmode .list > p,
body.lightmode .selector,
body.lightmode .clear,
body.lightmode .items__left {
  color: var(--color-primary);
}
body.lightmode .list,
body.lightmode .custom-checkbox {
  border-color: var(--color-primary);
}

body.lightmode .clear:hover,
body.lightmode .selector:hover,
body.lightmode .selector.active {
  color: rgb(214, 170, 73);
}

body.lightmode .list:hover {
  background-color: #a5a5a5;
}

body.lightmode .list.completed p {
  color: #e7e7e7;
}

body.lightmode .list.completed .custom-checkbox:hover {
  background-color: #6a6a6a;
}
